In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [30]:
from scipy import stats
from scipy.stats import norm, skew

In [242]:
import seaborn as sb

In [243]:
# Array containing possible Missing values
miss_val=['NaN']

In [244]:
aisles=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/aisles.csv', na_values=miss_val)
#aisles.isnull().values.any()
aisles.head(10)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
5         6                       other
6         7               packaged meat
7         8             bakery desserts
8         9                 pasta sauce
9        10            kitchen supplies

In [245]:
departments=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/departments.csv', na_values=miss_val)
#departments.isnull().values.any()

In [246]:
products=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/products.csv', na_values=miss_val)
#products.isnull().values.any()
products.head(10)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

In [250]:
order_products_prior=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/order_products__prior.csv', na_values=miss_val)
#order_products_prior[order_products_prior['order_id']==2774568]
order_products_prior.isnull().values.any()
order_products_prior.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [251]:
order_products_train=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/order_products__train.csv', na_values=miss_val)
order_products_train.isnull().sum()
#order_products_train.shape

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [252]:
orders=pd.read_csv('/Users/taimoorjaved/Desktop/Dev/instacart-market-basket-analysis-files/orders.csv', na_values=miss_val)
orders.isnull().sum() # Contains Missing Values
#orders.head(10)
#orders.shape

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [253]:
orders.fillna(-1, inplace=True) # Fill missing values with -1
orders.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [254]:
# Merging dataframes orders_prior and orders_train
order_products_total=pd.concat([order_products_prior, order_products_train], axis=0)
order_products_total.shape

(33819106, 4)

In [255]:
order_products_usr=pd.merge(orders, order_products_total, on='order_id')
order_products_usr.isnull().sum()
order_products_usr.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,-1.0,196,1,0
1,2539329,1,prior,1,2,8,-1.0,14084,2,0
2,2539329,1,prior,1,2,8,-1.0,12427,3,0
3,2539329,1,prior,1,2,8,-1.0,26088,4,0
4,2539329,1,prior,1,2,8,-1.0,26405,5,0
5,2398795,1,prior,2,3,7,15.0,196,1,1
6,2398795,1,prior,2,3,7,15.0,10258,2,0
7,2398795,1,prior,2,3,7,15.0,12427,3,1
8,2398795,1,prior,2,3,7,15.0,13176,4,0
9,2398795,1,prior,2,3,7,15.0,26088,5,1

In [324]:
# GET A USER'S MOST FREQUENT PRODUCT ORDERED in all of their combined orders
most_freq_product_user=dict()
freq_user_product=dict()

for i in range(1,2): #for i in range (1, order_products_usr['user_id'].max()+1):
    freq_user_product[i]=order_products_usr[order_products_usr['user_id']==i]['product_id'].value_counts()
    print("Count of all products purchased by User ID {} is \n{}\n".format(i, freq_user_product[i]))
    most_freq_product_user[i]=freq_user_product[i].index[0]
    print("Most frequent product for User {} is {}\n\n".format(i,most_freq_product_user[i]))

Count of all products purchased by User ID 1 is
196      11
12427    10
10258    10
25133     9
46149     4
13032     4
26088     3
26405     3
49235     3
38928     2
13176     2
39657     2
41787     1
27845     1
10326     1
17122     1
35951     1
30450     1
14084     1
Name: product_id, dtype: int64

Most frequent product for User 1 is 196

In [325]:
#Frequency of products in every order by every user
user_order_products=order_products_usr.groupby(['user_id', 'order_id'])['product_id'].value_counts()
print(user_order_products[0])

1

In [297]:
# Most Frequent time every user purchases
user_time=order_products_usr.groupby('user_id')['order_hour_of_day'].value_counts()
print(user_time)

user_id  order_hour_of_day
1        8                    25
         7                    15
         15                    8
         14                    6
         16                    6
                              ..
206209   13                   10
         18                    9
         14                    8
         15                    6
         16                    2
Name: order_hour_of_day, Length: 1540304, dtype: int64

In [307]:
# Most frequent day Every user purchases
user_day=order_products_usr.groupby('user_id')['order_dow'].value_counts()
print(user_day)
#for key, value in user_day.items():
#    print("For user having id {0[0]}, number of purchases on day {0[1]} is {1}".format(key,value))

user_id  order_dow
1        4            33
         1            17
         3            11
         2             9
2        1            95
                      ..
206209   5            24
         4            14
         2            10
         6             8
         0             2
Name: order_dow, Length: 997461, dtype: int64

In [308]:
print(user_day.index[0])

(1, 4)

In [323]:
for key,value in user_day.items():
    print (value)
    break

33

In [259]:
#How many times a user has reordered a product
user_products_NotReordered=order_products_usr.groupby(['user_id', 'product_id'])['reordered'].aggregate("sum")
#user_products_NotReordered1=order_products_usr.groupby(['user_id', 'product_id'])['reordered'].sum()
#user_products_NotReordered2=order_products_usr.groupby(['user_id', 'product_id'])['reordered'].value_counts()
print (user_products_NotReordered)

user_id  product_id
1        196           10
         10258          9
         10326          0
         12427          9
         13032          3
                       ..
206209   43961          2
         44325          0
         48370          0
         48697          0
         48742          1
Name: reordered, Length: 13863746, dtype: int64